{#
/**
 * @file
 * Leevingo theme implementation to display a single Drupal page while offline.
 *
 * @see leevingo_theme_preprocess_maintenance_page()
 *
 * @ingroup themeable
 */
#}


<div class="maintenance-page-content">
  <img src={{ logo_anim }} alt="Leevingo" class="maintenance-page-image">
  <div class="maintenance-page-text">
    {{ page.content }}
  </div>
</div>


