{#
/**
 * @file
 * Leevingo theme implementation to display a 404 Page not found page.
 *
 * @see leevingo_theme_preprocess_page()
 *
 * @ingroup themeable
 */
#}


<div class="page-404-content">
  <img src={{ logo_anim }} alt="Leevingo" class="page-404-image">
  <div class="page-404-text">
    {{ text }}
  </div>
</div>


